<div>
    <!-- Auth form -->
    <form
        class="space-y-unit-6"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
    >
        <!-- Full Name Field -->
        <div class="space-y-unit-2">
            <label
                class="font-label-caps text-label-caps uppercase text-on-surface-variant tracking-wider block"
                for="full_name"
                >Full Name</label
            >
            <div class="relative group">
                <input
                    class="w-full bg-surface-container-lowest border border-outline-variant px-unit-3 py-unit-2 font-mono-md text-mono-md text-on-surface focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary/20 transition-all placeholder:text-outline-variant/60"
                    autocomplete="name"
                    id="full_name"
                    name="full_name"
                    type="text"
                    placeholder="Your Name"
                    formControlName="fullName"
                />
            </div>

            @if (fullName?.touched && fullName?.invalid) {
                <div class="mt-1 space-y-1 text-sm">
                    @if (fullName?.errors?.["required"]) {
                        <small
                            class="block text-red-600 bg-red-50 border border-red-200 px-3 py-1 rounded-md"
                        >
                            Name is required
                        </small>
                    }
                    @if (fullName?.errors?.["pattern"]) {
                        <small
                            class="block text-red-600 bg-red-50 border border-red-200 px-3 py-1 rounded-md"
                        >
                            Symbols and numbers are not allowed
                        </small>
                    }
                </div>
            }
        </div>

        <!-- Email Field -->
        <div class="space-y-unit-2">
            <label
                class="font-label-caps text-label-caps uppercase text-on-surface-variant tracking-wider block"
                for="email"
                >Email Address</label
            >
            <div class="relative group">
                <input
                    class="w-full bg-surface-container-lowest border border-outline-variant px-unit-3 py-unit-2 font-mono-md text-mono-md text-on-surface focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary/20 transition-all placeholder:text-outline-variant/60"
                    autocomplete="email"
                    id="email"
                    name="email"
                    type="email"
                    placeholder="name@company.com"
                    formControlName="email"
                />
            </div>

            @if (email?.touched && email?.invalid) {
                <div class="mt-1 space-y-1 text-sm">
                    @if (email?.errors?.["required"]) {
                        <small
                            class="block text-red-600 bg-red-50 border border-red-200 px-3 py-1 rounded-md"
                        >
                            Email is required
                        </small>
                    }
                    @if (email?.errors?.["pattern"]) {
                        <small
                            class="block text-red-600 bg-red-50 border border-red-200 px-3 py-1 rounded-md"
                        >
                            Invalid email format
                        </small>
                    }
                </div>
            }
        </div>

        <!-- Password Field -->
        <div class="space-y-unit-2">
            <label
                class="font-label-caps text-label-caps uppercase text-on-surface-variant tracking-wider block"
                for="password"
                >Password</label
            >
            <div class="relative group">
                <input
                    class="w-full bg-surface-container-lowest border border-outline-variant px-unit-3 py-unit-2 font-mono-md text-mono-md text-on-surface focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary/20 transition-all placeholder:text-outline-variant/60"
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    placeholder="••••••••"
                    formControlName="password"
                />
            </div>
            <!-- <div class="flex items-start space-x-unit-2 mt-unit-1">
                <span
                    class="material-symbols-outlined text-[14px] text-on-surface-variant/40 mt-0.5"
                    >info</span
                >
                <p class="font-mono-sm text-mono-sm text-on-surface-variant/60">
                    Min. 12 characters, including 1 symbol and 1 number.
                </p>
            </div> -->
            @if (password?.touched && password?.invalid) {
                <div class="mt-1 space-y-1 text-sm">
                    @if (password?.errors?.["required"]) {
                        <small
                            class="block text-red-600 bg-red-50 border border-red-200 px-3 py-1 rounded-md"
                        >
                            Password is required
                        </small>
                    }
                    @if (password?.errors?.["minlength"]) {
                        <small
                            class="block text-red-600 bg-red-50 border border-red-200 px-3 py-1 rounded-md"
                        >
                            Password must be at least 6 characters
                        </small>
                    }
                </div>
            }
        </div>

        <!-- Action Button -->
        <button
            class="w-full bg-primary text-on-primary font-body-md text-body-md font-bold py-unit-3 flex items-center justify-center space-x-unit-2 hover:bg-primary-container active:scale-[0.98] transition-all focus:ring-2 focus:ring-primary/40 outline-none"
            type="submit"
        >
            <span>Create Account</span>
            <span class="material-symbols-outlined text-[18px]"
                >arrow_forward</span
            >
        </button>
    </form>

    <!-- Card Footer -->
    <div
        class="mt-unit-8 pt-unit-6 border-t border-outline-variant text-center"
    >
        <p class="font-body-sm text-body-sm text-on-surface-variant">
            Already have an account?
            <a
                class="text-primary font-bold hover:underline transition-all focus:outline-none focus:ring-1 focus:ring-primary px-1"
                routerLink="/login"
                >Log In</a
            >
        </p>
    </div>
</div>
